<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Sales Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Sales Dashboard</h1>

    <div id="bar-chart"></div>
    <div id="pie-chart"></div>


    <script>
        var bar_chart_data = JSON.parse('{{ bar_chart | safe }}'); // Parse JSON string
        Plotly.newPlot('bar-chart', bar_chart_data.data, bar_chart_data.layout);


        var pie_chart_data = JSON.parse('{{ pie_chart | safe }}'); // Parse JSON string
        Plotly.newPlot('pie-chart', pie_chart_data.data, pie_chart_data.layout);
    </script>

</body>
</html>